.select {
    width: fit-content;
    position: relative;
}

.select .activeItem {
    width: 100%;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid #9c9c9c;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: #292929;
    transition: all .1s ease;
    color: #ececec;
    height: 48px;
    cursor: pointer;
    position: relative;
}

.activeItem:hover {
    background-color: #333;
}

.placeholder {
    font-size: 14px;
    color: #ececec;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #ececec;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.select .activeItem .text {
    display: inline-block;
    width: 88%;
    word-break: break-word;
    font-size: 12px;
    color: #8a8a8a;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.active {
    flex-direction: row !important;
}

.select .activeItem.clicked svg {
    transform: rotateX(180deg) translateY(50%);
}

.select .activeItem.disabled {
    cursor: not-allowed;
    border-color: #dcdfe6;
    background-color: #535353;
}

.select .items {
    position: absolute;
    background-color: #1a1a1a;
    top: calc(100% + 10px);
    left: 0;
    border: 2px solid transparent;
    border-radius: 16px;
    box-sizing: border-box;
    z-index: -1;
    width: 620px;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    height: 400px;
    display: none;
}

.items::-webkit-scrollbar {
    width: 6px;
}

.items::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}

.items::-webkit-scrollbar-thumb {
    background-color: #fddd2d;
    border-radius: 20px;
}

.items:hover {
    overflow-y: scroll;
}

.select .itemsActive {
    z-index: 3;
    display: grid;
}
