.actorsPage {

}

.fetching {
    margin: 150px auto 0;
    width: 100px;
    height: 100px;
}

.detail {
    padding-bottom: 50px;
}

.detailWrapper {
    width: 100%;
    height: fit-content;
    position: relative;
}

.detailWrapperOverlay {
    position: absolute;
    z-index: 2;
    top: 300px;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(
            180deg,
            rgba(50, 50, 50,0),
            rgba(15,15,16,.7) 51.04%,
            rgba(15,15,16,.8) 66.29%,
            rgba(15,15,16,.91) 77.39%,
            rgba(15,15,16,.975) 85.39%,
            rgba(15,15,16,.99) 92.39%);
}

.detailWrapperBckg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 500px;
    object-fit: cover;
}

.detailContainer {
    padding-top: 270px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.detailDescription {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
    width: 60%;
}

.movieName {
    font-size: 28px;
    color: #fddd2d;
    margin: 0;
}

.detailMeta {
    display: flex;
    gap: 15px;
    align-items: center;
}

.detailMetaItem {
    color: #ececec;
    font-weight: 400;
    border-bottom: 1px solid #8c8c8c;
    font-size: 16px;
    padding-bottom: 3px;
}

.detailMetaLabel {
    color: #8a8a8a;
    font-weight: 400;
    font-size: 16px;
}

.detailActions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.detailAction {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 14px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    transition: all .1s ease;
    font-weight: 600;
    cursor: pointer;
}

.actionSee {
    background-color: #fddd2d;
    color: #141414;
}

.actionSee:hover {
    background-color: #f5cf16;
}

.actionTrailer {
    color: #ececec;
    background-color: #292929;
}

.actionTrailer:hover {
    background-color: #333;
}

.icon {
    width: 32px;
    height: 32px;
    display: flex;
}

.iconSee {
    fill: #141414;
    stroke: none;
}

.iconTrailer {
    stroke: #fff;
}

.detailContentContainer {
    display: flex;
    justify-content: space-between;
}

.detailContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.mainActors {
    color: #8a8a8a;
    font-size: 14px;
    width: 35%;
    margin-top: 5px;
    line-height: 1.4;
}

.movieAdditional {
    display: flex;
}

.detailContentTitle {
    color: #8c8c8c;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.detailContentText {
    font-size: 20px;
    color: #ececec;
    margin: 0;
    line-height: 1.5;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 235px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.sectionHeader {
    display: flex;
    gap: 20px;
    align-items: center;
}

.seasons {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.season {
    list-style: none;
    padding: 16px 20px;
    color: #ececec;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    transition: all .1s ease;
    cursor: pointer;
}

.season:hover {
    background-color: #292929;
}

.activeSeason {
    background-color: #292929;
}

.episodeSlide {
    width: 408px !important;
    margin-right: 15px !important;
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.episodeAvatar {
    position: relative;
    background-color: #141414;
    height: 230px;
    transition: all .4s ease;
}

.episodeAvatar:hover {
    transform: scale(1.1);
}

.episodePoster {
    width: 408px;
    height: 230px;
    object-fit: fill;
    cursor: pointer;
}

.episodeDuration {
    position: absolute;
    bottom: 30px;
    right: 20px;
    color: #ececec;
    font-size: 14px;
}

.episodeName {
    color: #ececec;
    font-size: 20px;
    display: flex;
    word-break: break-word;
}

.episodeLabel {
    font-size: 16px;
    color: #8a8a8a;
    line-height: 1.5;
    display: block;
    width: fit-content;
    text-align: left;
}

.sectionTitle {
    font-size: 26px;
    color: #ececec;
    width: fit-content;
    margin: 0;
}

.slide {
    width: 345px !important;
    margin-right: 15px !important;
}

.actor {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 125px !important;
    margin-right: 15px !important;
}

.actorAvatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #141414;
}

.actorName {
    color: #ececec;
    font-size: 20px;
    display: flex;
    word-break: break-word;
    text-align: center;
    margin: 0 auto;
}

.actorLabel {
    font-size: 16px;
    color: #8a8a8a;
    text-align: center;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    margin: 20px 0px;
}

.movieInfoTitle {
    font-size: 16px;
    color: #8a8a8a;
    margin: 0;
    width: 65%;
}

.movieInfoContent {
    color: #ececec;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    width: 85%;
}

.movieExtraInfo {
    width: 30%;
}

.extraInfoWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.extraInfoCard {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.infoCardLabel {
    color: #8a8a8a;
    font-size: 16px;
}

.infoCardText {
    color: #fff;
    font-size: 16px;
    word-break: break-word;
}
