.countryForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formAction {
    background-color: #f97316;
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
}

.actions {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 15px;
}

.error {
    color: #ff4d4d;
    font-size: 13px;
    margin: 0;
}
