.mainPage {
    margin-top: 40px;
    color: #fff;
}

.fetching {
    width: 100px;
    height: 100px;
    margin: 100px auto 300px;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 30px;
    margin-top: 50px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 96%;
    margin: 0 auto;
}

.sectionTitle {
    font-size: 26px;
    color: #ececec;
    font-weight: 600;
    margin: 0;
    transition: all .1s ease;
}

.sectionTitle:hover {
    color: #fddd2d;
}

.sectionItems {
    height: 235px;
    display: block;
}

.mainSlide {
    width: 922px !important;
    height: 519px !important;
    border: 1px solid #222;
    margin-right: 15px !important;
}

.slide {
    width: 345px !important;
    margin-right: 15px !important;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.contentImg {
    width: 100%;
    height: 204px;
    transition: all .2s ease;
}

.playBtn {
    background-color: rgba(48,48,48,.5);
    padding: 10px;
    border-radius: 50%;
    color: #8c8c8c;
    border: none;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .1s ease;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

.playIcon {
    display: flex;
    width: 30px;
    height: 30px;
    fill: #ffffff;
    stroke: none;
    cursor: pointer;
}

.contentImg:hover {
    transform: scale(105%);
}

.contentLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    opacity: 0;
    transition: all .1s ease;
    user-select: none;
    pointer-events: none;
}

.contentName {
    color: #ececec;
    font-size: 16px;
}

.contentGenre {
    color: #8a8a8a;
    font-size: 16px;
}

.itemContentLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    opacity: 0;
    transition: all .1s ease;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee .child {
    -webkit-animation: scroll 3.5s infinite linear;
    -moz-animation: scroll 3.5s infinite linear;
    animation: scroll 3.5s infinite linear;
    width: 100%;
    display: flex;
}

.itemContentName {
    color: #ececec;
    font-size: 16px;
    white-space: nowrap;
}

.itemContentGenre {
    color: #8a8a8a;
    font-size: 16px;
}

.adImage {
    display: block;
    height: 378px;
    width: 100%;
}

@media screen and (max-width: 1536px) {
    .mainSlide {
        width: 700px !important;
        height: 420px !important;
    }

    .nextSlide {
        top: 42%;
        transform: translateY(-42%);
    }

    .previousSlide {
        top: 42%;
        transform: translateY(-42%) rotate(-180deg);
    }
}

@media screen and (max-width: 1280px) {
    .mainSlide {
        width: 530px !important;
        height: 320px !important;
    }

    .nextSlide {
        top: 30%;
        transform: translateY(-30%);
    }

    .previousSlide {
        top: 30%;
        transform: translateY(-30%) rotate(-180deg);
    }
}

@media screen and (max-width: 960px) {
    .mainSlide {
        width: 480px !important;
        height: 300px !important;
    }

    .nextSlide {
        top: 27%;
        transform: translateY(-27%);
    }

    .previousSlide {
        top: 27%;
        transform: translateY(-27%) rotate(-180deg);
    }

    .slide {
        width: 156px !important;
        height: 218px !important;
    }

    .adImage {
        height: 232px;
    }
}

@media screen and (max-width: 576px) {
    .mainSlide {
        width: 400px !important;
        height: 240px !important;
    }

    .nextSlide {
        top: 20%;
        transform: translateY(-20%);
    }

    .previousSlide {
        top: 20%;
        transform: translateY(-20%) rotate(-180deg);
    }

    .adImage {
        height: 400px;
    }
}

@media screen and (max-width: 414px) {
    .mainSlide {
        width: 320px !important;
        height: 240px !important;
    }
}
