.mainPage {
    margin-top: 40px;
    color: #fff;
}

.fetching {
    width: 100px;
    height: 100px;
    margin: 100px auto 300px;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #8c8c8c;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sectionTitle {
    font-size: 26px;
    color: #ececec;
    font-weight: 600;
    padding: 0 128px;
    margin: 0;
}

.sectionItems {
    height: 195px;
}

.slide {
    width: 345px !important;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}
