.navbar {
    background-color: transparent;
    height: 60px;
    padding: 0px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: fit-content;
    width: 90%;
}

.brand {
    width: 126px;
    height: 24px;
    margin-right: 10px;
    object-fit: cover;
    cursor: pointer;
}

.burgerMenu {
    position: relative;
}

.burger {
    border-radius: 8px;
    height: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    color: #ececec;
    font-size: 14px;
    font-weight: 500;
    background-color: rgba(41,41,41,.65);
    cursor: pointer;
}

.navItems {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    margin-left: auto;
    padding-right: 15px;
    position: relative;
    margin-right: 15px;
}

.navItems::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 80%;
    width: 1px;
    background-color: rgba(255,255,255,.12);
}

.navItem {
    list-style: none;
    max-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    color: #bdbdbd;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.subscribe {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fddd2d;
    color: #141414;
    height: 40px;
    padding: 10px 20px;
    border: none;
    font-weight: 600;
    min-width: 170px;
    cursor: pointer;
}

.user {
    position: relative;
    margin-left: 20px;
}

.userBtn {
    border-radius: 50%;
    background-color: rgba(255,255,255,.12);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    color: #ececec;
    font-size: 16px;
    margin-bottom: 40px;
}

.profileBtn {
    width: 64px;
    height: 64px;
}

.profileItems {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 328px;
}

.profileItem {
    list-style: none;
    border-radius: 10px;
    padding: 12px 16px;
    cursor: pointer;
    color: #ececec;
    transition: all .1s ease;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 90%;
}

.profileItem:hover {
    background-color: #333;
}

.categoriesMenu {
    display: flex;
    width: 440px;
}

.categories {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-right: 1px solid rgba(255, 255, 255, .4);
    padding: 20px 0;
}

.categories:last-child {
    border: none;
}

.category {
    color: #ececec;
    font-size: 16px;
    list-style: none;
    padding: 0px 25px;
    height: 55px;
    cursor: pointer;
    transition: all .1s ease;
    display: flex;
    align-items: center;
}

.category:hover {
    background-color: rgba(255, 255, 255, .3);
}
