.search {
    background-color: rgba(15, 15, 16, 1);
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.backBtn {
    margin-right: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.backBtnIcon {
    width: 16px;
    height: 16px;
}

.fetching {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 30px;
    margin-top: 50px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 96%;
    margin: 0 auto;
}

.sectionTitle {
    font-size: 26px;
    color: #ececec;
    font-weight: 600;
    margin: 0;
    transition: all .1s ease;
}

.sectionTitle:hover {
    color: #fddd2d;
}

.sectionItems {
    height: 235px;
}

.slide {
    width: 345px !important;
    margin-right: 15px !important;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.contentImg {
    width: 100%;
    height: 204px;
    transition: all .2s ease;
}

.playBtn {
    background-color: rgba(48, 48, 48, .5);
    padding: 10px;
    border-radius: 50%;
    color: #8c8c8c;
    border: none;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .1s ease;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

.playIcon {
    display: flex;
    width: 30px;
    height: 30px;
    fill: #ffffff;
    stroke: none;
    cursor: pointer;
}

.contentImg:hover {
    transform: scale(105%);
}

.contentLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    opacity: 0;
    transition: all .1s ease;
    user-select: none;
    pointer-events: none;
}

.contentName {
    color: #ececec;
    font-size: 16px;
}

.contentGenre {
    color: #8a8a8a;
    font-size: 16px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.item {
    position: relative;
    width: 345px;
    height: 234px;
    cursor: pointer;
}

.freeLabel {
    color: #ececec;
    padding: 10px;
    border-radius: 4px;
    background-color: #01c243;
    font-size: 12px;
    width: fit-content;
    position: absolute;
    top: 15px;
    left: 15px;
}

.itemContentImg {
    width: 100%;
    height: 194px;
    transition: all .2s ease;
}

.itemPlayBtn {
    background-color: rgba(48, 48, 48, .5);
    padding: 10px;
    border-radius: 50%;
    color: #8c8c8c;
    border: none;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .1s ease;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

.itemPlayIcon {
    display: flex;
    width: 30px;
    height: 30px;
    fill: #ffffff;
    stroke: none;
    cursor: pointer;
}

.itemContentImg:hover {
    transform: scale(105%);
}

.itemContentLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    opacity: 0;
    transition: all .1s ease;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee .child {
    -webkit-animation: scroll 3.5s infinite linear;
    -moz-animation: scroll 3.5s infinite linear;
    animation: scroll 3.5s infinite linear;
    width: 100%;
    display: flex;
}

.itemContentName {
    color: #ececec;
    font-size: 16px;
    white-space: nowrap;
}

.itemContentGenre {
    color: #8a8a8a;
    font-size: 16px;
}

.skeleton {
    margin-bottom: 20px;
}

.noRecords {
    margin: 0 auto;
    color: #ececec;
}

.adImage {
    display: block;
    height: 378px;
    width: 100%;
}

.input {
    width: 473px;
    height: 40px;
    margin-left: 60px;
}

@media screen and (max-width: 1200px) {
    .items {
        justify-content: center;
    }

    .item {
        width: 23%;
    }
}

@media screen and (max-width: 960px) {
    .wrapper {
        width: 100%;
    }

    .slide {
        width: 156px !important;
        height: 218px !important;
    }

    .adImage {
        height: 232px;
    }

    .backBtn {
        margin-right: 0;
    }

    .input {
        width: 170px;
        margin-left: 20px;
    }

    .items {
        padding: 0 10px;
    }

    .itemContentImg {
        height: 160px;
    }

    .fetching {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 576px) {
    .adImage {
        height: 400px;
    }
}
